.newStyleHover{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-background-image: url("/icons/new.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.openStyleHover{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-background-image: url("/icons/folder-open.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.saveStyleHover{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-background-image: url("/icons/save.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.printStyleHover{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-background-image: url("/icons/printer.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.undoStyleHover{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-background-image: url("/icons/undo.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.redoStyleHover{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-background-image: url("/icons/redo.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.componentsStyleHover{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-background-image: url("/icons/components.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.playStyleHover{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-background-image: url("/icons/play.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.pauseStyleHover{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-background-image: url("/icons/pause.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.stopStyleHover{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-background-image: url("/icons/stop.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.optionsStyleHover{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-background-image: url("/icons/wrench.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.zoomInStyleHover{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-background-image: url("/icons/search-plus.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.zoomOutStyleHover{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-background-image: url("/icons/search-minus.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.zoomSheetStyleHover{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-background-image: url("/icons/search.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.newStyle{
    -fx-background-color:transparent;
    -fx-background-image: url("/icons/new.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.openStyle{
    -fx-background-color:transparent;
    -fx-background-image: url("/icons/folder-open.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.saveStyle{
    -fx-background-color:transparent;
    -fx-background-image: url("/icons/save.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.printStyle{
    -fx-background-color:transparent;
    -fx-background-image: url("/icons/printer.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.undoStyle{
    -fx-background-color:transparent;
    -fx-background-image: url("/icons/undo.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.redoStyle{
    -fx-background-color:transparent;
    -fx-background-image: url("/icons/redo.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.componentsStyle{
    -fx-background-color:transparent;
    -fx-background-image: url("/icons/components.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.playStyle{
    -fx-background-color:transparent;
    -fx-background-image: url("/icons/play.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.pauseStyle{
    -fx-background-color:transparent;
    -fx-background-image: url("/icons/pause.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.stopStyle{
    -fx-background-color:transparent;
    -fx-background-image: url("/icons/stop.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.optionsStyle{
    -fx-background-color:transparent;
    -fx-background-image: url("/icons/wrench.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.zoomInStyle{
    -fx-background-color:transparent;
    -fx-background-image: url("/icons/search-plus.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.zoomOutStyle{
    -fx-background-color:transparent;
    -fx-background-image: url("/icons/search-minus.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.zoomSheetStyle{
    -fx-background-color:transparent;
    -fx-background-image: url("/icons/search.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.separatorStyle{
}
.standardNotStyle{
    -fx-background-color:transparent;
    -fx-background-image: url("/standardGateIcons/standardNot.png");
    -fx-background-size: 70px 37px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.standardNotStyleHover{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-background-image: url("/standardGateIcons/standardNot.png");
    -fx-background-size: 70px 37px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.constantStyle{
    -fx-background-color:transparent;
    -fx-background-image: url("/standardGateIcons/constant.png");
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.constantStyleHover{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-background-image: url("/standardGateIcons/constant.png");
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.outputStyle{
    -fx-background-color:transparent;
    -fx-background-image: url("/standardGateIcons/output.png");
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.outputStyleHover{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-background-image: url("/standardGateIcons/output.png");
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}